// ==========================================================================
// Global Config
// ==========================================================================

// Colors
$beige: #DDD0C8;
$dark-grey: #323232;

// Viewport Breakpoints


$brkpoint-sm: 320px;
$brkpoint-smd: 480px;
$brkpoint-md: 768px;
$brkpoint-lg: 992px;
$brkpoint-xlg: 1260px;