// ==========================================================================
// Containers
// ==========================================================================

#container {
    position: relative;
    height: 100%;
    overflow: hidden;
    
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    &::before {
        content: " ";
        display: table;
    }

    @include viewport(small) {
        width: 200px;
    }

    @include viewport(medium) {
        width: 750px;
    }

    @include viewport(large) {
        width: 970px;
    }

    @include viewport(x-large) {
        width: 1200px;
    }
}

.content-container {
    display: flex;
    justify-content: center;
    font-size: 24px;

    @include viewport(small) {
        flex-direction: column;
        align-items: center;
        width: 200px;
    }

    @include viewport(medium) {
        flex-direction: column;
        align-items: center;
        width: 750px;
    }

    @include viewport(large) {
        width: 970px;
    }

    @include viewport(x-large) {
        width: 1200px;
    }
}