// ==========================================================================
// Main Content
// ==========================================================================

.image-fetcher {
    padding: 1rem;
    margin: 1rem;
    border: 3px solid red;

}

.right-side {
    display: flex;
    flex-direction: column;
}

.email-inputter {
    padding: 1rem;
    margin: 1rem;
    border: 3px solid red;
}

.email-displayer {
    padding: 1rem;
    margin: 1rem;
    border: 3px solid red;
}