// ==========================================================================
// Main Content
// ==========================================================================

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-fetcher {
    @include contentContainer();
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 250px;

    & h3 {
        margin-bottom: 1rem;
    }

    @include viewport(x-large) {
        width: 250px;
    }

    @include viewport(large) {
        width: 250px;
    }

    @include viewport(medium) {
        width: 650px;
    }

    @include viewport(small) {
        h3 {
            font-size: 1.5rem; 
        }
    }
}

.email-inputter {
    @include contentContainer();

    display: flex;
    flex-direction: column;
    width: 250px;

    & h3 {
        margin-bottom: 1rem;
    }
    
    @include viewport(x-large) {
        width: 530px;
    }

    @include viewport(large) {
        width: 530px;
    }

    @include viewport(medium) {
        width: 650px;
    }

    @include viewport(small) {
        h3 {
            font-size: 1.5rem; 
        }
    }
}

.email-displayer {
    @include contentContainer();

    display: flex;
    flex-direction: column;
    width: 250px;

    & h3 {
        margin-bottom: 1rem;
    }

    @include viewport(x-large) {
        width: 530px;
    }

    @include viewport(large) {
        width: 530px;
    }

    @include viewport(medium) {
        width: 650px;
    }

    @include viewport(small) {
        h3 {
            font-size: 1.5rem; 
        }
    }
}

.email-image-displayer {
    @include contentContainer();

    & h3 {
        margin-bottom: 1rem;
    }

    @include viewport(x-large) {
        width: 530px;
    }

    @include viewport(large) {
        width: 530px;
    }

    @include viewport(medium) {
        width: 650px;
    }

    @include viewport(small) {
        h3 {
            font-size: 1.5rem; 
        }
    }
}

#assigned-image-text {
    text-align: center;
}

#image-fetcher-text {
    text-align: center;
}

#select-email-text {
    text-align: left;

    @include viewport(small) {
        text-align: center;
    }
}

.current-email-text {
    margin-bottom: 20px;
}