// ==========================================================================
// Normalize
// ==========================================================================

html {
    font-family: 'DM Sans', sans-serif;
    background-color: $beige;
    box-sizing: border-box;
}