// ==========================================================================
// Icons
// ==========================================================================

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?2jvoes');
    src:  url('../fonts/icomoon.eot?2jvoes#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?2jvoes') format('truetype'),
      url('../fonts/icomoon.woff?2jvoes') format('woff'),
      url('../fonts/icomoon.svg?2jvoes#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-check:before {
    content: "\e901";
  }
  .icon-x:before {
    content: "\e900";
  }